[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ActiveDriver"]
	path = ActiveDriver
	url = https://github.com/cran/ActiveDriver
[submodule "mExplorer"]
	path = mExplorer
	url = https://github.com/cran/mExplorer
